# =====================
# Python
# =====================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# =====================
# Jupyter / Colab
# =====================
.ipynb_checkpoints/
*.ipynb_checkpoints

# Colab autosave
*.bak

# =====================
# Data (VERY IMPORTANT)
# =====================
data/
*.csv
*.parquet
*.pkl
*.joblib

# raw financial data
*.h5

# =====================
# Models
# =====================
models/
*.h5
*.keras
*.pt
*.pth
*.ckpt

# =====================
# Logs
# =====================
logs/
*.log

# =====================
# OS
# =====================
.DS_Store
Thumbs.db

# =====================
# IDE
# =====================
.vscode/
.idea/

# =====================
# TensorFlow / cache
# =====================
.cache/
*.tfevents*

# =====================
# pytest
# =====================
.pytest_cache/

# =====================
# Conda
# =====================
.env
.env.*
